[submodule "autotrade"]
	path = autotrade
	url = https://github.com/hucheng2014/zuoye-autotrade-backup.git
[submodule "controlled-browser"]
	path = controlled-browser
	url = https://github.com/hucheng2014/zuoye-controlled-browser-backup.git
[submodule "henanhuaaser"]
	path = henanhuaaser
	url = https://github.com/hucheng2014/zuoye-henanhuaaser-backup.git
[submodule "oneform"]
	path = oneform
	url = https://github.com/hucheng2014/zuoye-oneform-backup.git
[submodule "pi"]
	path = pi
	url = https://github.com/earendil-works/pi.git
[submodule "putonghuaasr"]
	path = putonghuaasr
	url = https://github.com/hucheng2014/zuoye-putonghuaasr-backup.git
[submodule "英语TTS"]
	path = 英语TTS
	url = https://github.com/hucheng2014/zuoye-yingyu-tts-backup.git
