COMPOSE_PROJECT_NAME=controlled-browser
NOVNC_PORT=6082
CDP_PORT=9222
CDP_PROXY_PORT=9223
HOST_CDP_PORT=9232
HOST_CDP_PROXY_PORT=9233
VNC_PASSWORD=
SCREEN_WIDTH=1920
SCREEN_HEIGHT=1080
SCREEN_DEPTH=24
START_URL=about:blank
BROWSER_MEM_LIMIT=2g
